@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  color: cornflowerblue;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: rgb(27, 26, 26);

  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  border: none;

  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05);
}

.user-form input:focus {
  outline: none;
}

.user-form input::placeholder {
  color: rgb(83, 73, 73);
  font-size: 1rem;
  text-transform: uppercase;
}

.card {
  max-width: 800px;

  border-radius: 20px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}
.avatar {
  border-radius: 50%;
  border: 10px solid cornflowerblue;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
#repos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.repo {
  text-decoration: none;

  color: #fff;
  background-color: cornflowerblue;
  font-size: 0.7rem;
  padding: 0.35rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  border-radius: 5px;
}

@media (max-width: 868px) {
  .user-form {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .user-form {
    width: 300px;
  }
}
